.hero-body {
    background-color: lightcoral;
}
.container {
    background-color: whitesmoke;
}

#results { 
    background-color: whitesmoke;
}

.tile{
    background-color: whitesmoke;
}

#pic{
    background-color: whitesmoke;
}

#text-display{
    background-color: whitesmoke;
}