* {
    font-family: sans-serif;
}

h2 {
    font-size: x-large;
}

.hero-body {
    background-color: lightcoral;
}
.container {
    background-color: whitesmoke;
}

#results { 
    background-color: whitesmoke;
}

.tile{
    background-color: whitesmoke;
}

#pic{
    background-color: whitesmoke;
}

#text-display{
    background-color: whitesmoke;
}

img {
    max-height: 405px;
    position: center;
}

.btn-group button {
    padding: 10px 24px 10px 24px; /* Some padding */
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    position: center;
    width: 100%;
  }

#drink-choices, #food-choices, #movie-choices {
    margin-top: 20px;
    margin-bottom: 20px;
}